.detail-product-container{
  margin: 20px 0px 40px 0px;
  display: flex;
  justify-content: center;
}


.detail-product{
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}


.detail-container{
  border-radius: 10px;
  flex-direction: row;
  display: flex;
}


.detail-product-container hr{
  margin-block: 20px;
}


.detail-product p{
  margin-top: 10px;
}