.login-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
}


.login-container form{
  padding-left: 100px;
}


.login-form {}


.login-form ul {
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}


.login-input {
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 200px;
  padding-block: 15px;
  border-color: rgb(52, 131, 250);
  border-style: solid;
  border-width: 1px;
}


label {
  font-size: 12px;
}


.buttons {
  margin-top: 30px;
}


.button-login-form {
  font-size: 15px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  border-width: 1px;
  font-weight: bold;
  background-color: white;
}


.button-login-form:hover {
  color:rgb(172, 162, 57);
  border-color: rgb(172, 162, 57);
}


.signup-login-form {
  font-size: 15px;
  margin-left: 30px;
  font-weight: bold;
  color: rgb(52, 131, 250);
}


.announcement-card{
  font-size: 20px;
}


hr {
  border: none;
  height: .5px;
  background-color: rgb(226, 226, 226);
}


p {
  margin-top: 40px;
  font-size: 15px;
}


.icons-container {
  margin-top: 40px;
}